
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!--Page Header Start-->
        <section class="page-header" style="background-image: url(~/assets/images/backgrounds/page-header_bg.jpg);">
            <div class="container">
                <div class="page-header-inner">
                    <h2>About</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--About Page Start-->
        <section class="about_page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="about_page_left">
                            <div class="about_page_img">
                                <img src="~/assets/images/about/about_page_img_1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="about_page_right">
                            <div class="block-title text-left">
                                <h4>Find Your Properties</h4>
                                <h2>Leader in the Market</h2>
                            </div>
                            <div class="about_page_right_text">
                                <p class="first_text">Lorem ipsum dolor sit amet, con adipiscing elit tiam convallis
                                    elit id impedie.</p>
                                <p class="second_text">Quisq commodo simply free ornar tortor. Excepteur sint occaecat
                                    sunt in culpa qui officia deserunt mollit anim id est laborum. Claritas est etiam
                                    processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare
                                    quam littera gothica, quam nunc putamus parum claram.</p>
                            </div>
                            <ul class="about_page_list list-unstyled">
                                <li><i class="fa fa-check"></i>Invest in your simply neighborhood</li>
                                <li><i class="fa fa-check"></i>Support people in free text extreme need</li>
                                <li><i class="fa fa-check"></i>Largest global industrial business community</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Page End-->
        <!--Are You Ready Start-->
        <section class="are_you_ready jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url(~/assets/images/backgrounds/are_you_ready_bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="are_you_ready_content">
                            <div class="are_you_ready_shape"><img src="~/assets/images/shapes/are_you_ready_shape.png"
                                    alt=""></div>
                            <h2>Are You Ready to Buy <br> Dream House?</h2>
                            <a href="listing-1.html" class="thm-btn">Search Property</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Are You Ready End-->

        <!--Testimonials Two Start-->
        <section class="testimonials_two">
            <div class="container_box">
                <div class="block-title text-center">
                    <h4>Customers Feedbacks</h4>
                    <h2>What They’re Saying</h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <!--Testimonials Two Single-->
                        <div class="testimonials_two_single wow fadeInUp" data-wow-delay="00ms">
                            <div class="testimonials_two_text">
                                <p>I was very impresed by the tolins service lorem ipsum is simply free text used by
                                    copytyping refreshing. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="testimonials_two_author_info">
                                <div class="testimonials_two_author_name">
                                    <h4>Mike Hardson</h4>
                                    <p>Customer</p>
                                </div>
                                <div class="testimonials_two_quote_icon">
                                    <img src="~/assets/images/shapes/testimonials-qoute-1-1.png" alt="">
                                </div>
                            </div>
                            <div class="testimonials_two_author_img">
                                <img src="~/assets/images/testimonials/testimonial-2-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Testimonials Two Single-->
                        <div class="testimonials_two_single wow fadeInUp" data-wow-delay="100ms">
                            <div class="testimonials_two_text">
                                <p>I was very impresed by the tolins service lorem ipsum is simply free text used by
                                    copytyping refreshing. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="testimonials_two_author_info">
                                <div class="testimonials_two_author_name">
                                    <h4>Sarah Albert</h4>
                                    <p>Customer</p>
                                </div>
                                <div class="testimonials_two_quote_icon">
                                    <img src="~/assets/images/shapes/testimonials-qoute-1-1.png" alt="">
                                </div>
                            </div>
                            <div class="testimonials_two_author_img">
                                <img src="~/assets/images/testimonials/testimonial-2-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Testimonials Two Single-->
                        <div class="testimonials_two_single wow fadeInUp" data-wow-delay="300ms">
                            <div class="testimonials_two_text">
                                <p>I was very impresed by the tolins service lorem ipsum is simply free text used by
                                    copytyping refreshing. Neque porro est qui dolorem ipsum quia.</p>
                            </div>
                            <div class="testimonials_two_author_info">
                                <div class="testimonials_two_author_name">
                                    <h4>Kevin Martin</h4>
                                    <p>Customer</p>
                                </div>
                                <div class="testimonials_two_quote_icon">
                                    <img src="~/assets/images/shapes/testimonials-qoute-1-1.png" alt="">
                                </div>
                            </div>
                            <div class="testimonials_two_author_img">
                                <img src="~/assets/images/testimonials/testimonial-2-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials Two End-->


        <!--Team One Start-->
        <section class="team_one">
            <div class="container">
                <div class="block-title text-center">
                    <h4>Expert People</h4>
                    <h2>Meet Our Agents</h2>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Team One Single-->
                        <div class="team_one_single wow fadeInLeft" data-wow-delay="100ms">
                            <div class="team_one_img">
                                <img src="~/assets/images/team/team_1_img_1.jpg" alt="">
                            </div>
                            <div class="team_one_content">
                                <h4>Jessica Brown</h4>
                                <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                            </div>
                            <div class="team_one_view_details">
                                <a href="members_details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Team One Single-->
                        <div class="team_one_single wow fadeInLeft" data-wow-delay="200ms">
                            <div class="team_one_img">
                                <img src="~/assets/images/team/team_1_img_2.jpg" alt="">
                            </div>
                            <div class="team_one_content">
                                <h4>Mike Hardson</h4>
                                <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                            </div>
                            <div class="team_one_view_details">
                                <a href="members_details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Team One Single-->
                        <div class="team_one_single wow fadeInLeft" data-wow-delay="300ms">
                            <div class="team_one_img">
                                <img src="~/assets/images/team/team_1_img_3.jpg" alt="">
                            </div>
                            <div class="team_one_content">
                                <h4>Christine Eve</h4>
                                <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                            </div>
                            <div class="team_one_view_details">
                                <a href="members_details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <!--Team One Single-->
                        <div class="team_one_single wow fadeInLeft" data-wow-delay="400ms">
                            <div class="team_one_img">
                                <img src="~/assets/images/team/team_1_img_4.jpg" alt="">
                            </div>
                            <div class="team_one_content">
                                <h4>David Cooper</h4>
                                <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                            </div>
                            <div class="team_one_view_details">
                                <a href="members_details.html">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Team One End-->


        <!--Brand Two Start-->
        <div class="brand_one two">
            <div class="container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_2.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_3.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_4.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_5.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_2.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_3.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_4.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="~/assets/images/brand/brand_2_img_5.png" alt="">
                        </div><!-- /.swiper-slide -->
                    </div>
                </div>
            </div>
        </div>
        <!--Brand Two End-->

