@using Domain.Models
@model List<Domain.Models.Tag>
@{
    ViewData["Title"] = "ListTags";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<link rel="stylesheet" href="~/assets/css/datatable-style.css">

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tag List</h4>
            <div class="row">
                <div class="col-md-12">
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        @foreach (Tag tag in Model)
                        {
                            <tr>
                                <td>@tag.Id</td>
                                <td>@tag.Text</td>
                                <td>@tag.Status</td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" onclick="window.location.href = '/Tag/UpdateTag?Id=@tag.Id';"><span class="mdi mdi-tooltip-edit"></span></button></p></td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" onclick="window.location.href = '/Tag/DeleteTag?Id=@tag.Id';"><span class="mdi mdi-delete-forever"></span></button></p></td>
                            </tr>
                        }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function() { 
        $('#datatable').dataTable();
    
        $("[data-toggle=tooltip]").tooltip();
    }, 500);
</script>